<!DOCTYPE html>
<html lang="en-US">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="brainchildservices.com | we stem best class software engineers and products">
    <meta name="author" content="Brainchild services">
    <meta name="keywords" content="brainchild services, software company expertised in web and mobile app development" />

    <meta property="og:title" content="Brainchild Services" />
    <meta property="og:description" content="brainchild services, software company expertised in web and mobile app development" />
    <meta property="og:image" content="assets/images/facebook-post-img-1200x630-2021.jpg" />
    <meta property="og:site_name" content="SkilltechWebDesign.com" />

    <title>Brainchild Services</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="TheCreativeTheme/assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Play:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400&family=Blinker:wght@200;300;400;600;700;800&display=swap"
        rel="stylesheet">
    <!-- Icon Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="TheCreativeTheme/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="TheCreativeTheme/assets/vendor/animate/animate.min.css" rel="stylesheet">
    <!-- Off Canvas Menu - Default Theme -->
    <link href="TheCreativeTheme/assets/vendor/offcanvas-nav/hc-offcanvas-nav.css" rel="stylesheet" />

    <!-- Particle Theme CSS -->
    <link href="TheCreativeTheme/assets/css/particle-theme.css" rel="stylesheet">
    <link href="TheCreativeTheme/assets/css/particle-colors.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="TheCreativeTheme/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Simple Forms -->
    <!-- <link rel="stylesheet" href="TheCreativeTheme/assets/vendor/simple-forms/css/simple-forms-skilltech-mod.css"> -->

</head>

<body class="pa-homepage pa-dark">

    <!-- Page Transitions
	================================================== -->
    <div class="pa-page-transition pa-page-transition-1 is-active"></div>
    <div class="pa-overlay" style="position: fixed; top: 0; left: 0; z-index: 10002; width: 100vw; height: 100vh; pointer-events: none; background: #091019;"></div>


    <!-- Navigation Menu
	================================================== -->
    <a class="pa-mobile-main-logo" href="#" id="brainchildlogo"><img alt="brainchild services logo" src="TheCreativeTheme/assets/images/MainLogo.png" id="logo"></a>

    <nav id="main-nav" class="pa-menu navbar pa-navbar navbar-expand-lg navbar-dark bg-transparent static-top">

        <!-- Desktop Menu Logo -->
        <a class="navbar-brand" href="#" id="brainchildlogo"><img alt="brainchild services logo" src="TheCreativeTheme/assets/images/MainLogo.png" id="logo"></a>

        <!-- The Menu -->
        <ul class="navbar-nav ml-auto">

            <!-- Mobile Menu Logo (only use if "close" buttons are set to false in JS) -->
            <li data-nav-custom-content class="custom-content pa-mobile-menu-logo">
                <a class="pa-mobile-navbar-brand" href="#"><img alt="brainchild services logo" src="TheCreativeTheme/assets/images/logo.png" id="logo"></a>
            </li>

            <!-- Regular Menu Items Start -->


            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#aboutus" id="swisscollab">In collaboration with SwissfyIt.ch, Switzerland</a>
            </li>

            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#portfolio">Work Dock</a>
            </li>

            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#about-us">Portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#services">Tech</a>
            </li>

            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#skills">Our Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#contact-us">Contact Us</a>
            </li>

            <!-- Regular Menu Items End -->

            <!-- Mobile Menu Social Icons -->
            <li data-nav-custom-content class="custom-content pa-menu-socials">
                <div class="pa-social-section">
                    <h1 class="pa-h1-v3 pa-bright fadeInDelay03Duration10"><strong>Connect</strong> with us</h1>
                    <a class="pa-social-icons" href="https://www.facebook.com/SkilltechWebDesign" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-facebook"></i></span></a>
                    <a class="pa-social-icons" href="https://www.facebook.com/SkilltechWebDesign" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-behance"></i></span></a>
                    <a class="pa-social-icons" href="https://www.facebook.com/SkilltechWebDesign" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-dribbble"></i></span></a>
                    <a class="pa-social-icons" href="https://www.facebook.com/SkilltechWebDesign" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-instagram"></i></span></a>
                    <p class="pa-p-v1 pa-white pa-contact-lastline fadeInDelay03Duration10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </li>

        </ul>
    </nav>
    <!-- /.pa-menu -->


    <!-- Hero Section
	================================================== -->
    <section id="top" class="pa-hero pa-centered-section pa-full-height pa-image-back pushable-content" style="background-image: url(assets/images/low-poly.jpg);">

        <div class="pa-absolute-fill pa-gradient-back-v1"></div>
        <!-- Increase opacity to overlay hero with a gradient -->
        <div id="particles-js"></div>

        <div class="container pa-hero-content text-center">
            <div class="row pa-hero-typed-text">
                <div class="col-12">
                    <h1 id="mainHead">WE MAKE OUR PEOPLE AND PRODUCTS SENSATIONAL</h1>
                    <div class="typed-text mega-typed">
                        <span class="animated-text-effect">
							<!-- <span class="typed-cursor">|</span> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="max-width: 976px; margin: 0 auto;">

                    <h2 class="pa-h2-v2-hero-subhead pa-white">Let us do the technological and professional uplifting for you.</h2>
                </div>
            </div>
        </div>

    </section>
    <!-- /.pa-hero -->


    <section id="aboutus" class="pa-cta-v1" data-parallax="scroll" data-speed="0.2" data-image-src="TheCreativeTheme/assets/images/AboutUSBg.jpg">
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 id="swissfyit"> In partnership with Swissify IT SARL, Switzerland</h3>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <br>
                        <h1 id="abouttext"> We directly operate in Europe through our offshore company swissfyit.ch based in Switzerland.</h1>
                        <br>
                        <p id="abouttext">Swiss made is not only a term to talk about where the products developed. It is also a seal of approval that what you are buying is of high quality and excellent craftsmanship</p>
                        <br>
                        <a class="pa-button-secondary pa-hvr-sweep-to-right fadeInRightDelay11Duration10" href="https://swissifyit.ch/" target="_blank">Visit Swissfyit.ch</a>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <p id="abouttext">We focus on cross platform application development and our services are web design and development, tailor made applications, e-commerce solution and business-to business applications. Connectedly, we offer Full Stack Developer
                            Internship to empower fresh graduates to win a promising software career and get them employed. Our offshore company <a href="https://swissifyit.ch/" target="_blank" id="swissfy">SwissfyIt.ch</a> based in Neuchatel, Switzerland
                            would provide you the chance to avail our direct service in Central Europe. At Brainchild Services, we believe there is better to do end to end business solutions for all types of enterprises.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.pa-cta-v1 -->


    <!-- Portfolio Section
	================================================== -->
    <section id="portfolio" class="pa-portfolio">
        <!-- Portfolio header -->
        <div class="container-fluid text-center p-0">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="pa-stripe-heading">
                        <h1 class="pa-h1-v1 pa-bright fadeInLeftDelay03Duration10"><strong>We can build anything you want</strong></h1>
                    </div>
                    <div class="pa-stripe-subheading">
                        <p class="pa-p-v2 pa-bright fadeInLeftDelay03Duration10"><a href="#">SEE OUR WORK!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio thumbnails -->
        <div class="container-fluid">
            <div class="row pa-row-max2560">
                <div class="col-12 col-sm-6 col-lg-3 p-0">
                    <div class="pa-portfolio-thumb m-0 text-center fadeInDelay00Duration10" style="background-image: url(assets/images/WorkDock1.png);">
                        <div class="pa-portfolio-thumb-background-overlay"></div>
                        <div class="pa-portfolio-thumb-deco-1"></div>
                        <div class="pa-portfolio-thumb-deco-2"></div>
                        <div class="pa-portfolio-thumb-centered-content w-100">
                            <a href="portfolio-item.html" class="pa-portfolio-thumb-icon-link">
                                <span class="pa-portfolio-thumb-hover-icon"><i class="fa fa-eye"></i></span>
                            </a>
                            <a href="https://brainchildschool.com/">
                                <h4 class="pa-portfolio-thumb-heading">Brainchild School</h4>
                            </a>
                            <p class="pa-portfolio-thumb-desc">Your one stop solution to guaranteed employment!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 p-0">
                    <div class="pa-portfolio-thumb m-0 text-center fadeInDelay00Duration10" style="background-image: url(assets/images/WorkDock2.png);">
                        <div class="pa-portfolio-thumb-background-overlay"></div>
                        <div class="pa-portfolio-thumb-deco-1"></div>
                        <div class="pa-portfolio-thumb-deco-2"></div>
                        <div class="pa-portfolio-thumb-centered-content w-100">
                            <a href="portfolio-item.html" class="pa-portfolio-thumb-icon-link">
                                <span class="pa-portfolio-thumb-hover-icon"><i class="fa fa-eye"></i></span>
                            </a>
                            <a href="https://brainchildschool.com/workwithus">
                                <h4 class="pa-portfolio-thumb-heading">UI/UX Desing</h4>
                            </a>
                            <p class="pa-portfolio-thumb-desc">Get your Hands on UI?UX Desing. Now!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 p-0">
                    <div class="pa-portfolio-thumb m-0 text-center fadeInDelay00Duration10" style="background-image: url(assets/images/WorkDock4.png);">
                        <div class="pa-portfolio-thumb-background-overlay"></div>
                        <div class="pa-portfolio-thumb-deco-1"></div>
                        <div class="pa-portfolio-thumb-deco-2"></div>
                        <div class="pa-portfolio-thumb-centered-content w-100">
                            <a href="portfolio-item.html" class="pa-portfolio-thumb-icon-link">
                                <span class="pa-portfolio-thumb-hover-icon"><i class="fa fa-eye"></i></span>
                            </a>
                            <a href="https://jeriebentoadvocates.com/">
                                <h4 class="pa-portfolio-thumb-heading">JeriebentoAdvocates</h4>
                            </a>
                            <p class="pa-portfolio-thumb-desc">Simple but Functional Website within a week</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 p-0">
                    <div class="pa-portfolio-thumb m-0 text-center fadeInDelay00Duration10" style="background-image: url(assets/images/WorkDock3.png);">
                        <div class="pa-portfolio-thumb-background-overlay"></div>
                        <div class="pa-portfolio-thumb-deco-1"></div>
                        <div class="pa-portfolio-thumb-deco-2"></div>
                        <div class="pa-portfolio-thumb-centered-content w-100">
                            <a href="portfolio-item.html" class="pa-portfolio-thumb-icon-link">
                                <span class="pa-portfolio-thumb-hover-icon"><i class="fa fa-eye"></i></span>
                            </a>
                            <a href="portfolio-item.html">
                                <h4 class="pa-portfolio-thumb-heading">Ready to Work template</h4>
                            </a>
                            <p class="pa-portfolio-thumb-desc">Pure CSS Instant Hover</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.pa-portfolio -->


    <!-- About Us Section
	================================================== -->
    <section id="about-us" class="pa-about-us pa-standard-section text-center pa-dark">

        <div class="container">
            <!-- Section Header -->
            <div class="row">

                <div class="col-12 col-xl-10 offset-xl-1">
                    <h1 class="pa-h1-v2 pa-bright fadeInDelay00Duration10"><strong>Portfolio</strong></h1>
                    <p class="pa-p-v1 pa-bright fadeInDelay03Duration10">BrainchildServices use the most fitting technological solution to build an intelligently designed digital future for you.</p>
                </div>
            </div>
            <div class="row">
                <!-- Icon list (no column) -->
                <ul class="pa-icon-list-horizontal-dark">
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">computer</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay03Duration10">UX Prototyping</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">devices_other</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay06Duration10">Web & UI Design</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">important_devices</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay10Duration10">Front-End Development</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">developer_board</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay10Duration10">Back-End Development</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">insert_chart</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay10Duration10">Usability Testing</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">device_hub</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay10Duration10">CI-CD Pipeline</p>
                    </li>

                </ul>
            </div>

            <!-- Bottom Images -->
            <div class="row">
                <div class="col-12 pa-about-us-bottom-images">
                    <img alt="" class="pa-about-img-left fadeInRight--Custom" src="TheCreativeTheme/assets/images/Portfolio/ipads-left.png">
                    <img alt="" class="pa-about-img-center slideup" src="TheCreativeTheme/assets/images/Portfolio/ipads-Center.png">
                    <img alt="" class="pa-about-img-right fadeInLeft--Custom" src="TheCreativeTheme/assets/images/Portfolio/ipads-Right.png">
                </div>
            </div>
        </div>
    </section>
    <!-- /.pa-about-us -->

    <!-- Stripe Tagline Section
	================================================== -->
    <section class="pa-stripe-tagline">
        <div class="container-fluid text-center p-0">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="pa-stripe-heading py-2 py-sm-4">
                        <h5 class="pa-h5-v1 pa-bright pt-4 pb-1 mb-4 fadeInDelay03Duration10">We are here to <strong>make things Better</strong></h5>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.pa-stripe-tagline -->


    <!-- Quote Section
	================================================== -->
    <section class="pa-quote" data-parallax="scroll" data-speed="0.2" data-image-src="TheCreativeTheme/assets/images/quote-background.jpg" style="position: relative; z-index: 2;">

        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <h2 class="pa-h2-quote pa-bright fadeInDelay03Duration10">To grow your business, you need the right tech team today! <br> Let us offer you the best fit.</h2>
                    <a class="pa-button-secondary pa-hvr-sweep-to-right fadeInRightDelay11Duration10" href="https://brainchildschool.com/hirebrainchild" target="_blank">Get Your Team </a>
                </div>
            </div>
        </div>

    </section>
    <!-- /.pa-quote -->


    <!-- Services (What We Do) Section
	================================================== -->
    <section id="services" class="pa-what-we-do pa-standard-section text-center">

        <div class="container">
            <!-- Section Header -->
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">

                    <h1 class="pa-h1-v2 pa-bright fadeInDelay00Duration10">Technologies We <strong>Use</strong></h1>
                    <p class="pa-p-v1 pa-bright fadeInDelay03Duration10">We are a fullstack development studio working with the most used and latest technology stacks.</p>

                </div>
            </div>
            <div class="row">
                <ul class="pa-icon-list-horizontal-dark">
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay03Duration10"><i class="material-icons">trending_up</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay03Duration10">Entity Framework</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay06Duration10"><i class="material-icons">euro_symbol</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay06Duration10">C#</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">blur_on</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay10Duration10">SQL Server</p>
                    </li>
                    <li>
                        <span class="pa-icon-list-icon fadeInDelay10Duration10"><i class="material-icons">show_chart</i></span>
                        <p class="pa-icon-list-text pa-p-v1 pa-bright fadeInDelay10Duration10">ASP.NET CORE</p>
                    </li>
                </ul>
            </div>
            <!-- Services with phone section -->
            <div class="row pa-services text-center">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-4 offset-md-0 offset-lg-0 col-lg-4 order-2 order-md-1 text-center">
                    <ul class="pa-services-ul pa-right text-md-right text-left">
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay03Duration10"><i class="material-icons">wifi</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay03Duration10">JAVASCRIPT/jQuery/NPM</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay10Duration10"><i class="material-icons">verified_user</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay10Duration10">HTML/CSS/BOOTSTRAP</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay10Duration10"><i class="material-icons">filter_vintage</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay10Duration10">React Js/Angular Js</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay10Duration10"><i class="material-icons">polymer</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay10Duration10">CI/CD Pipeline</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay10Duration10"><i class="material-icons">autorenew</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay10Duration10">TDD/BDD</h3>

                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 order-1 order-md-2">
                    <img alt="" class="pa-services-image" src="TheCreativeTheme/assets/images/iphone-services.png">
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-md-4 offset-md-0 offset-lg-0 col-lg-4 order-3 order-md-3 text-center">
                    <ul class="pa-services-ul pa-left text-left">
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay06Duration10"><i class="material-icons">apps</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay06Duration10">Android/IPhone App</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay06Duration10"><i class="material-icons">font_download</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay06Duration10">Azure/AWS Cloud</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay06Duration10"><i class="material-icons">share</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay06Duration10">GIT/VS CODE</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay10Duration10"><i class="material-icons">settings_ethernet</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay10Duration10">REST:API</h3>

                        </li> <br> <br>
                        <li>

                            <span class="pa-serv-list-icon fadeInDelay10Duration10"><i class="material-icons">attachment</i></span>
                            <h3 class="pa-h3-v1 pa-bright fadeInDelay10Duration10">Blazor</h3>

                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </section>
    <!-- /.pa-what-we-do -->


    <!-- Second CTA Section
	================================================== -->
    <section class="pa-cta-v2 pa-centered-section pa-image-back" style="background-image: url(assets/images/low-poly.jpg);">

        <div class="pa-absolute-fill pa-gradient-back-v1"></div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1 text-center">
                    <h1 class="pa-h1-v2 pa-bright fadeInDelay00Duration10"> Work With <strong> Us </strong></h1>
                    <p class="pa-p-v1 pa-white fadeInDelay03Duration10"> WE NURTURE TOP-NOTCH SOFTWARE ENGINEERS . AN ANSWER TO ALL YOUR TECH-RELATED PROBLEMS.</p>
                    <a class="pa-button-secondary pa-hvr-sweep-to-right fadeInRightDelay11Duration10" href="https://brainchildschool.com/partner-with-us" target="_blank">Get it Now</a>
                </div>
            </div>
        </div>

    </section>
    <!-- /.pa-cta-v2 -->


    <!-- Skills Section
	================================================== -->
    <section id="skills" class="pa-skills">

        <div class="container">
            <!-- Section Header -->
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1 text-center">
                    <h5 class="pa-h1-v3 pa-bright pt-4 pb-1 mb-4 fadeInDelay03Duration10"> Let Our <strong>Projects Expertise</strong> speak for Us</h5>
                </div>
            </div>

            <div class="row pa-skills-row">
                <div class="col-12">
                    <div class="pa-skill-warp">
                        <p class="pa-skill-name pa-skill-el">Multi Tenant SAAS apps</p>
                        <div class="pa-skill-area pa-skill-el">
                            <div class="pa-skill-bar progressBar" style="width: 75%;"></div>
                        </div>
                        <p class="pa-skill-number pa-skill-el"><span class="pa-counterskills">75</span><span class="fadeInDelay10Duration10">%</span></p>
                    </div> <br>
                    <div class="pa-skill-warp">
                        <p class="pa-skill-name pa-skill-el">Cloud (AWS/Azure) projects</p>
                        <div class="pa-skill-area pa-skill-el">
                            <div class="pa-skill-bar progressBar" style="width: 80%;"></div>
                        </div>
                        <p class="pa-skill-number pa-skill-el"><span class="pa-counterskills">80</span><span class="fadeInDelay10Duration10">%</span></p>
                    </div>
                    <div class="pa-skill-warp">
                        <p class="pa-skill-name pa-skill-el">Startups stack ( Web/Mobile Apps/ Backend)</p>
                        <div class="pa-skill-area pa-skill-el">
                            <div class="pa-skill-bar progressBar" style="width: 90%;"></div>
                        </div>
                        <p class="pa-skill-number pa-skill-el"><span class="pa-counterskills">90</span><span class="fadeInDelay10Duration10">%</span></p>
                    </div>
                    <div class="pa-skill-warp">
                        <p class="pa-skill-name pa-skill-el">Financial network (VISA/Mastercard) Integration</p>
                        <div class="pa-skill-area pa-skill-el">
                            <div class="pa-skill-bar progressBar" style="width: 70%;"></div>
                        </div>
                        <p class="pa-skill-number pa-skill-el"><span class="pa-counterskills">70</span><span class="fadeInDelay10Duration10">%</span></p>
                    </div> <br> <br>
                    <div class="pa-skill-warp">
                        <p class="pa-skill-name pa-skill-el">Website development</p>
                        <div class="pa-skill-area pa-skill-el">
                            <div class="pa-skill-bar progressBar" style="width: 90%;"></div>
                        </div>
                        <p class="pa-skill-number pa-skill-el"><span class="pa-counterskills">90</span><span class="fadeInDelay10Duration10">%</span></p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- /.pa-skills -->


    <!-- Contact Us Section
	================================================== -->
    <section id="contact-us" class="pa-contact-us" data-parallax="scroll" data-speed="0" data-image-src="TheCreativeTheme/assets/images/contact-hero.jpg">

        <div class="container">
            <!-- Section Header -->
            <div class="row text-center">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <h1 class="pa-h1-v2 pa-bright fadeInDelay00Duration10">Let's <strong>Connect</strong></h1>
                    <div class="pt-0 pt-sm-3 pt-md-3 pt-lg-4 pt-xl-5"></div>
                </div>
            </div>
            <div class="row">
                <!-- Contact Info -->
                <div class="col-12 col-md-6 col-xl-5 offset-xl-1 pa-contact-info d-flex">
                    <div class="pa-glass pa-left">
                        <h1 class="pa-h1-v3 pa-bright fadeInDelay03Duration10"><strong>Our Address</strong></h1><br>
                        <p class="pa-p-v1 pa-white fadeInDelay06Duration10"><span><i class="fa fa-building"></i></span>Brainchildservices</p>
                        <p class="pa-p-v1 pa-white fadeInDelay06Duration10"><span><i class="fa fa-address-book"></i></span>Cochin,Kerala</p>
                        <p class="pa-p-v1 pa-white fadeInDelay06Duration10"><span><i class="fa fa-phone"></i></span>+91 62825 37900</p>
                        <p class="pa-p-v1 pa-white fadeInDelay10Duration10"><span><i class="fa fa-envelope"></i></span>contact@brainchildservices.com</p>
                        <p class="pa-p-v1 pa-white fadeInDelay10Duration10"><span><i class="fa fa-map-marker"></i></span>Reach Us</p>
                        </br>
                        <div>
                            <iframe width="390" height="100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.900728829265!2d76.2897581!3d9.9360228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872ed0e678645%3A0xc2f9028251f16f50!2sThevara%2C%20Kochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1626509995282!5m2!1sen!2sin">
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://embedgooglemap.net/maps/36"></a><br>
                        </div>
                        <h1 class="pa-h1-v3 pa-bright fadeInDelay03Duration10"><strong>Partner Company</strong></h1><br>
                        <p class="pa-p-v1 pa-white fadeInDelay06Duration10"><span><i class="fa fa-building"></i></span>Swissify IT SARL</p>
                        <p class="pa-p-v1 pa-white fadeInDelay06Duration10"><span><i class="fa fa-address-book"></i></span>Rue de la Treille 7, 2000 Neuchatel</p>
                        <p class="pa-p-v1 pa-white fadeInDelay06Duration10"><span><i class="fa fa-phone"></i></span>+41 (0)33 533 2210, +41 (0)76 349 0123</p>
                        <p class="pa-p-v1 pa-white fadeInDelay10Duration10"><span><i class="fa fa-map-marker"></i></span>Reach Us</p>
                        </br>
                        <div>
                            <iframe width="390" height="100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2721.541673290638!2d6.927449915609229!3d46.990336179148635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e0a117c238f11%3A0xfa97c3d6fa0aa1b9!2sSwissifyIT!5e0!3m2!1sen!2sin!4v1601741347488!5m2!1sen!2sin">
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://embedgooglemap.net/maps/36"></a><br>
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-12 col-md-6 col-xl-5 pa-contact-form d-flex justify-content-end">
                    <div class="pa-glass pa-right">
                        <h1 class="pa-h1-v3 pa-bright fadeInDelay03Duration10"><strong>Add your Contact details here and send us a message </strong></h1><br>

                        <!-- Real Working Form - Simple Forms V3 -->
                        <br>
                        <div class="sf-wrapper">
                            <form id="contact-form" action="assets/vendor/simple-forms/sendmail.php" method="post">

                                <div class="form-group">

                                    <input type="text" name="name" value="Name" class="validate-name" minlength="2" required>
                                </div><br>

                                <div class="form-group">

                                    <input type="text" name="email" class="validate-email" value="Email">
                                </div><br>

                                <div class="form-group">
                                    <input type="text" name="mobilenumber" class="validate-mobilenumber" value="MobileNumber">
                                </div><br>

                                <div class="form-group">
                                    <input type="text" name="location" class="validate-location" value="Location">
                                </div><br>

                                <div class="form-group">

                                    <textarea name="message" required>Message</textarea>
                                </div><br>


                                <div class="form-submit">
                                    <button type="submit" class="pa-hvr-sweep-to-right">SUBMIT MESSAGE</button>
                                </div>

                                <div class="server-response"></div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.pa-menu -->


    <!-- Footer
	================================================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="footer-col first">
                        <h5>About Brainchild Services</h5>
                        <p class="p-small" id="footerpara">BrainChild Services is a professional web development company based in India that endeavor on highly proficient,timely delivered and cost effective web development services. we use the most fittingtechnological solution to build
                            an intelligently designed digital future for you.</p>
                    </div>
                    <!-- end of footer-col -->
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="footer-col third">
                        <div class="pa-social-section">

                            <a class="pa-social-icons" href="https://www.facebook.com/brainchildservices" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-facebook"></i></span></a>
                            <a class="pa-social-icons" href="https://twitter.com/BrainchildServ1" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-twitter"></i></span></a>
                            <a class="pa-social-icons" href="https://www.instagram.com/brainchild_services/" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-instagram"></i></span></a>
                            <a class="pa-social-icons" href="linkedin.com/company/brainchild-services/" target="_blank"><span class="fadeInDelay03Duration10"><i class="fa fa-linkedin "></i></span></a>

                        </div>
                        <p class="p-small">We would love to hear from you <a href="mailto:contact@brainchildservices.com"><strong>contact@brainchildservices.com</strong></a>
                        </p>
                    </div>
                    <!-- end of footer-col -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
        </div>
        <!-- end of footer -->
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-3 pt-5 pb-4">
                    <p>Copyright © <a href="~/branchildservices.com">by BrainchildServices</a></p>
                </div>
            </div>
        </div>
        <div class="pa-back-to-top-wrap">
            <a class="pa-back-to-top" href="#top"><span class="pa-back-to-top"></span></a>
        </div>
    </footer>


    <!-- Helper div for inserting before scripts
	================================================== -->
    <div class="pa-body-end"></div>


    <!-- Scripts / Body End
	================================================== -->
    <!-- Vendor Scripts -->
    <script src="TheCreativeTheme/assets/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/offcanvas-nav/hc-offcanvas-nav.js"></script>
    <script src="TheCreativeTheme/assets/vendor/parallax/parallax.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/jquery/jquery.easing.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/typed/typed.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/wow/wow.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/particles/particles.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/waypoints/waypoints.min.js"></script>
    <script src="TheCreativeTheme/assets/vendor/counterup/jquery.counterup.min.js"></script>

    <!-- Delivery Form Scripts -->
    <!-- <script src="TheCreativeTheme/assets/vendor/simple-forms/js/simple-forms-translations.js"></script> -->
    <!-- <script src="TheCreativeTheme/assets/vendor/simple-forms/js/simple-forms.min.js"></script> -->
    <!-- <script src="TheCreativeTheme/assets/js/form.js"></script> -->

    <!-- Theme Scripts and Inits -->
    <script src="TheCreativeTheme/assets/js/particle-theme.js"></script>
    <script src="TheCreativeTheme/assets/js/page-home-dark.js"></script>

</body>

</html>